<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="30ded417-d41f-4173-9cad-d3d760250ff7" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="30ded417-d41f-4173-9cad-d3d760250ff7fileName">TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
